.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-position-center {
  background-position: center;
}

.bg-position-bottom {
  background-position: bottom;
}

.bg-position-top {
  background-position: top;
}

.bg-overlay {
  background-blend-mode: overlay;
}

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}