.photo-caption-container {
  font-family: $font-photo-caption; 
  line-height: $line-height-caption;
  width: 63vw;
  margin: 10vh auto;
  align-items: flex-start;

  @media screen and (max-width: 1040px) {
    margin: 7vh auto;
  }

  img {
    width:100%;
  }

  .caption {
    align-items: flex-start;
    margin-top: 1vh;
    font-size: 1rem;
    font-style: italic;

    p {
      margin: 0;
      max-width: 100%;
      font-size: inherit;
      line-height: inherit;
    }

    .ybr-line {
      max-width: 15vw;
      margin: 2vh 0 1vh 0;

      @media screen and (max-width: 800px) {

        .ybr-section {
          stroke-width: 5;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 90vw;

    .caption {
      width: 100%;
      font-size: 0.75rem;
    }
  }
}

.photo-caption-container-vert {
  font-family: $font-photo-caption; 
  line-height: $line-height-base;
  margin: 2vh auto;

  @media screen and (max-width: 800px) {
    width: 90%;
  }
  
  img {
    height: 80vh;
    max-height: 1000px;
    width: auto;

    @media screen and (max-width: 800px) {
      height: auto;
      width: 100%;
    }
  }

  .caption {
    align-items: flex-start;
    margin-top: 1vh;
    font-size: 1rem;
    font-style: italic;

    p {
      margin: 0;
      font-size: inherit;
    }

    .ybr-line {
      max-width: 15vw;
      margin: 2vh 0 1vh 0;

      @media screen and (max-width: 800px) {

        .ybr-section {
          stroke-width: 5;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 90vw;

    .caption {
      font-size: 0.75rem;
    }
  }
}