// Darken the non-hovered cards when any cards are hovered
.cards.darkened .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .4s;
  z-index: 0;

  @media screen and (max-width: 1040px) {
    background-color: transparent;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;

  @media screen and (max-width:1040px){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media screen and (max-width:800px){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 40vh);
  }

  .card {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image:
      linear-gradient(
        rgba(0, 0, 0, .55),
        rgba(0, 0, 0, 0)
       );
      z-index: 0;
      transition: background-image .4s;
    }
  }

  .card.hovered {
    z-index: 3;

    // Add color overlay to hovered card
    &::before {
      background-image:
      linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, .5)
       );
      z-index: 0;
    }

    .card__hover {
      .card__heading,
      .card__title,
      .card__desc {
        color: $black;
      }

      .card__desc {
        max-width: 90%;
      }
    }

  }

  @media screen and (min-width: 1040px) {
    // Add scale transform to hovered card
    .card.hovered {
      transform: scale(1.1, 1.1);
      transition: transform .3s ease .2s;
    }

    // Add unique transform origin to each hovered card
    #card-1.hovered {
      transform-origin: left top;
    }

    #card-2.hovered {
      transform-origin: center top;
    }

    #card-3.hovered {
      transform-origin: right top;
    }

    #card-4.hovered {
      transform-origin: left bottom;
    }

    #card-5.hovered {
      transform-origin: center bottom;
    }

    #card-6.hovered {
      transform-origin: right bottom;
    }
  }

  .card {
    position: relative;
    grid-column: span 2;
    width: 100%;
    height: 50vh;

    @media screen and (max-width: 1040px) {
      height: 33.33vh;
    }

    @media screen and (max-width: 800px) {
      height: 40vh;
    }

    &:hover, &:active {

      @media screen and (max-width: 1040px) {
        .card__heading,
        .card__title {
          color: $black;
        }

        .card__button {
          background: $red;
          color: $white;
        }
      }

      // Display hover text on card hover
      .card__hover {
        .card__heading,
        .ybr-line,
        .card__title,
        .card__desc,
        .card__button {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: opacity .3s cubic-bezier(.4, 0, .2, 1), transform .3s cubic-bezier(.4, 0, .2, 1);
        }

        // Increase title font size on card hover
        .card__title {
          transition-delay: .1s;
          font-size: 2.5rem;
          line-height: 2.3rem;
          padding: 10px 25px;
        }

        .card__desc {
          transition-delay: .15s;
        }

        .card__button {
          width: 120px;
          transition: opacity .3s cubic-bezier(.4, 0, .2, 1) .35s, transform .3s cubic-bezier(.4, 0, .2, 1) .35s, width .5s ease .8s;
        }

      }

      // Hide base text on card hover
      .card__base {

        .card__heading,
        .ybr-line,
        .card__title {
          opacity: 0;

          @media screen and (max-width: 1040px) {
            opacity: 1;
          }
        }

      }

    }

    // Display images behind card text
    .card__img {
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .card__heading {
      font-family: $font-card-heading;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
    }

    .ybr-line {
      max-width: 70px;
      height: 10px;

      .ybr-section {
        stroke-width: 3;
      }

    }

    .card__title {
      font-family: $font-card-title;
      font-size: 2rem;
      line-height: 1.8rem;
      padding: 40px 25px 15px;

      @media screen and (max-width: 1040px) {
        padding: 20px 25px 15px;
      }
    }

    .card__desc {
      font-size: 1rem;
      font-family: $font-card-desc;
      font-weight: $font-weight-bold;
      margin: 0 auto 20px;
      padding: 0 25px;
    }

    .card__button {
      font-family: $font-button;
      position: relative;
      text-transform: uppercase;
      background-color: $red;
      border-radius: 30px;
      height: 28px;
      width: 35px;
      padding: 5px;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;

      @media screen and (max-width: 1040px) {
        display: none;
      }

      .card__button-text {
        position: absolute;
        right: 10px;
        color: $white;
        text-decoration: none;
      }
    }

    // Vertically and horizontally center card text
    .card__hover,
    .card__base {
      position: absolute;
      width: 100%;
      color: $white;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Hide hover text without card hover
    .card__hover {

      .card__heading,
      .ybr-line,
      .card__title,
      .card__desc,
      .card__button {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: none;

        @media screen and (max-width: 1040px) {
          display: none;
        }
      }

      .card__button {
        transition: none;
      }

    }

    // Display base text without card hover
    .card__base {

      .card__heading,
      .ybr-line,
      .card__title {
        opacity: 1;

        @media screen and (max-width: 1040px) {
          transition: color .3s;
        }
      }

      .card__button {
        display: none;
      }

    }

  }

}
