.interactive__health {
  .health__cards {
    align-items: stretch;

    @media (max-width: 1040px)  {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .health__card {
      width: 40%;
      height: auto;
      margin: 1rem;
      position: relative;
      background-color: $white;
      justify-content: flex-start;
      box-shadow: 1px 1px 10px 7px rgba(0, 0, 0, .1);

      @media screen and (max-width: 1040px) {
        width: 90%;
        max-width: 45rem;
        margin: 1rem auto;
      }

      .card1-hidden,
      .card2-hidden {
        display: none;
       }     

      .card__title {
        font-family: $font-default-title;
        font-size: 1.75rem;
        width: 100%;
        padding: 1rem;

        @media screen and (max-width: 1040px) {
          font-size: 1.125rem;
        }

        &.card__title--back {
          position: absolute;
          color: $white;
        }
      }

      .card__body {
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        font-size: 1.125rem;

        @media screen and (max-width: 1040px) {
          font-size: .875rem;
        }

        .card-front__middle {
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          flex-basis: 50%;
          color: $white;
          padding: 1rem;

          .card__icon-group {
            padding: .5rem;

            .card__subtitle {
              font-weight: $font-weight-black;
              margin: .5rem;
  
              .card__subtitle-em {
                font-weight: 400;
                font-style: italic;
              }
            }

            .card__icons {
              width: 100%;
              flex-wrap: wrap;
              justify-content: center;

              @media screen and (max-width: 800px) {
                flex-wrap: nowrap;
              }

              .card__icon {
                padding: .5rem;
                text-align: center;

                .icon__svg {
                  width: 3.75rem;
                  height: auto;
                  margin-bottom: .5rem;
                }
              }
            }
          }
        }

        .card-front__bottom {
          flex-basis: 50%;
          padding: 2rem 1rem 1.75rem;
          color: $black;

          @media screen and (max-width: 1040px) {
            padding-top: 1.8rem;
          }

          .card__text {
            margin: 0 auto;
            font-size: 1.5rem;
            line-height: 2rem;

            @media screen and (max-width: 1040px) {
              font-size: .875rem;
              line-height: 1.35rem;
            }
          }

          .card__text-em {
            font-size: 3rem;
            position: relative;
            bottom: -.25rem;
            font-weight: $font-weight-black;

            @media screen and (max-width: 1040px) {
              font-size: 1.75rem;
              bottom: -.2rem;
            }
          }

          .card__button {
            display: inline-block;
            font-family: $font-button;
            font-size: 1rem;
            color: $white;
            border-radius: 30px;
            padding: .5rem 1rem .6rem;
            margin: 1rem auto 0;
          }
        }

        .card-back__body {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          padding: 1rem 1.125rem;
          background-color: $white;
          color: $black;

          .card__text {
            text-align: left;
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 0 auto 1rem;
        
            @media (max-width: 800px)  {
              font-size: .75rem;
              line-height: 1rem;
              margin: 0 auto .75rem;
            }
          }

          .card__text--es {
            font-size: .925rem;
            line-height: 1.35rem;

            @media (max-width: 800px)  {
              font-size: .725rem;
              line-height: .95rem;
              margin: 0 auto .75rem;
            }
          }
        }
      }
    }

    .background-blur {
      position: absolute;
      width: 50%;
      height: 50%;
      z-index: -1000;
      background-color: rgba(0,0,0, 0.1);
      filter: blur(150px);
      -webkit-filter: blur(150px);
    }
  }

  .-red {
    color: $red;
  }
  
  .-red-bkg {
    background-color: $red;
  }
  
  .-blue {
    color: $blue;
  }
  
  .-blue-bkg {
    background-color: $blue;
  }
}
