#womenSlider2 {
  width: 45rem;
  min-width: 50vw;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    max-width: 85vw;
  }

  .venn-diagram {
    @media screen and (max-width: 800px) {
      height: auto;
    }
  }
  
  .vd-circle {
    stroke-width: 4;
    transition: all .5s;
    cursor: pointer;
  }
  
  .vd-big {
    fill-opacity: .75;
  }
  
  .vd-small {
    fill-opacity: 1;
  }
  
  .vd-yellow {
    fill: $yellow;
    stroke: $white;
  }
  
  .vd-blue {
    fill: $blue;
    stroke: $white;
  }
  
  .vdt-heading,
  .vdt-subheading,
  .vdt-def {
    font-family: $font-int-header;
    
    pointer-events: none;
    transition: all .3s;
  }
  
  .vdt-heading {
    font-size: 1.8rem;
  
    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }
  
  .vdt-subheading, .vdt-def {
    font-size: 1.6rem;
  
    @media screen and (max-width: 800px) {
      font-size: 1.8rem;
    }
  }
  
  .vdt-def {
    opacity: 0;
    font-family: $font-int-subhead;
    font-size: 1.6rem;
  
    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }
  
    .vdt-term {
      font-family: $font-int-header;
    }
  }
  
  .vdt-black {
    fill: $black;
  }
  
  .vdt-white {
    fill: $white;
  }
  
  .vdt-middle {
    width: 50px;
  }
  
  .vd-prostitution:hover,
  .vd-prostitution:active {
    stroke: $blue;
    stroke-width: 6;
    
    &~.vdt-prostitution {
      font-size: 2rem;
      fill: $blue;
    }
  }
  
  .vd-sex-trafficking:hover,
  .vd-sex-trafficking:active {
    stroke: $yellow;
    stroke-width: 6;
    
    &~.vdt-sex-trafficking {
      font-size: 2rem;
      fill: $yellow;
    }
  }
  
  .vd-sex-tourism1:hover,
  .vd-sex-tourism1:active {
    stroke: $blue;
    stroke-width: 6;
    
    &~.vdt-sex-tourism1 {
      font-size: 1.8rem;
      fill: $blue;
    }
  }
  
  .vd-sex-worker1:hover,
  .vd-sex-worker1:active {
    stroke: $blue;
    stroke-width: 6;
    
    &~.vdt-sex-worker1 {
      font-size: 1.8rem;
      fill: $blue;
    }
  }
  
  .vd-sex-tourism2:hover,
  .vd-sex-tourism2:active {
    stroke: $yellow;
    stroke-width: 6;
    
    &~.vdt-sex-tourism2 {
      font-size: 1.8rem;
      fill: $yellow;
    }
  }
  
  .vd-sex-worker2:hover,
  .vd-sex-worker2:active {
    stroke: $yellow;
    stroke-width: 6;
    
    &~.vdt-sex-worker2 {
      font-size: 1.8rem;
      fill: $yellow;
    }
  }
}