{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}story-page stories{{ end }}
{{ define "main" }}
<div class="home__overlay" id="home-overlay"></div>
{{ partial "main-menu-mobile.html" . }}
<nav>
  <!--full screen-->
  <div class="header" id="header">
    {{ partial "header.html" . }}
  </div>
  <!--hamburger-->
  <div class="header-mobile" id="hamburger">
    {{ partial "hamburger.html" . }}
  </div>
</nav>
{{ partial "story-hero.html" (dict "number" .Params.weight "videostill" .Params.videoStill "still" .Params.headerStill "background" .Params.video "heading" .Params.storyHeading "subheading" .Params.storySubheading "topic" .Params.topic "content" .) }}

<div class="story-content">
  <div class="byline-container">
    <div class="flex-column byline">
      <div class="byline-name" id="byline-rep">{{ .Params.authorTitle}} <span>{{ .Params.Author }}</span></div>
      <div class="byline-name" id="byline-vid">{{ .Params.photoTitle }} <span>{{ .Params.videographer }}
          {{ .Params.photographer }}
        </span>
      </div>
      <div class="byline-name" id="byline-des">{{ .Params.designTitle }} <span>{{ .Params.designer }}</span></div>
      {{ if ne .Params.udea "undefined" }}<div class="byline-name" id="byline-udea">{{ .Params.udeaTitle }}
        <span>{{ .Params.udea }}</span></div>{{ end }}
      {{ partial "ybr-line.html" . }}
    </div>
  </div>
  {{ .Content }}
  <img class="story-end-icon" src="{{ .Site.BaseURL}}images/end-story-icon.svg">
</div>

<div class="progress">
  <div class="progress__bar" id="photo-bar"></div>
</div>

<footer class="flex-column">
  {{ partial "footer.html" . }}
</footer>
{{ end }}

{{ define "scripts" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $progressBar := resources.Get "js/progressBar.js" }}
{{ $videos := resources.Get "js/videos.js" }}
{{ $hamburger := resources.Get "js/hamburger.js"}}
{{ $govUndocumented := resources.Get "js/gov-undocumented-int.js" }}
{{ $womenInt := resources.Get "js/women-int.js" }}
{{ $healthInt := resources.Get "js/health-int.js" }}
{{ $edInt := resources.Get "js/scrollytelly.js" }}
{{ $econInt := resources.Get "js/econ-int.js"}}


<!-- weight 3 = health story -->
{{ if eq .Weight 3}}
{{ $healthBundle := slice $scripts $header $progressBar $videos $hamburger $healthInt | resources.Concat "js/healthBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $healthBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($healthBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

<!-- Weight 1 = government story -->
{{ else if eq .Weight 1 }}
{{ $govBundle := slice $scripts $header $progressBar $videos $hamburger $govUndocumented | resources.Concat "js/govBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $govBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($govBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

<!-- Weight 2 = econ story -->
{{else if eq .Weight 2}}
{{ $econBundle := slice $scripts $header $progressBar $videos $hamburger $econInt | resources.Concat "js/econBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $econBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($econBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

<!-- Weight 4 = children story -->
{{else if eq .Weight 4}}

{{ $childrenBundle := slice $scripts $header $progressBar $videos $hamburger $edInt | resources.Concat "js/childrenBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $childrenBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($childrenBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

<!-- Weight 5 = women story -->
{{else if eq .Weight 5}}
{{ $womenBundle := slice $scripts $header $progressBar $videos $hamburger $womenInt | resources.Concat "js/womenBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $womenBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($womenBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

<!-- End of the conditional logic to only build out specific js files on each story page -->
{{ end }}
{{ block "footer_js" . }}{{ end }}

{{ end }}