<div class="mix about__person {{ .data.filter }}">
  {{ if ne .data.symbol "undefined"}}
  <img src="{{ .data.img }}" alt="{{ .data.first }}{{ .data.last }}"
    title="An icon that describes {{ .data.first }}: {{ .data.symbol }}" />
  {{ else }}
  <img src="{{ .data.img }}" alt="{{ .data.first }}{{ .data.last }}" title="{{ .data.first }} {{ .data.last}}" />
  {{ end }}
  <div class="about__info flex-column">
    {{ if eq .data.website ""}}
    <span class="about__name">{{.data.first }} {{ .data.last }}</span>
    {{else}}
    <a href="{{ .data.website }}" target="_blank"><span class="about__name">{{.data.first }} {{ .data.last }}</span></a>
    {{end}}

    <span class="about__role">
      {{ if eq .language "en" }}
      {{ .data.role }}
      {{ else }}
      {{ .data.role_es }}
      {{ end }}
    </span>
    <div class="about__links">
      {{ if ne .data.fb "" }}
      <a href="{{ .data.fb }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
      {{end}}
      {{if ne .data.twitter "" }}
      <a href="{{ .data.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
      {{end}}
      {{if ne .data.instagram "" }}
      <a href="{{ .data.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
      {{end}}
      {{ if ne .data.linkedin ""}}
      <a href="{{ .data.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      {{end}}
      {{ if ne .data.gh ""}}
      <a href="{{ .data.gh }}" target="_blank"><i class="fab fa-github"></i></a>
      {{end}}
    </div>
    <div class="about__bio">
      <p>
        {{ if eq .language "en" }}
        {{ .data.desc }}
        {{ else }}
        {{ .data.desc_es }}
        {{ end }}
      </p>
    </div>
  </div>
</div>