<div class="footer__stories">
  <div class="footer__title">{{ .Params.footerCTA }}</div>

  <div class="footer__cards flex">
    {{ $menu := .Site.Menus.main }}
    {{ $topic := .Params.topic }}
    {{ $weight := .Params.weight }}
    {{ range $menu }}
    {{ if eq $.URL .URL }}
    <a class="footer__card active" href="{{ .URL }}">
      <img class="footer__img" src="{{ .Post }}">
      <div class="footer__text">
        {{ .Pre }}
      </div>
    </a>
    {{ else }}
    <a class="footer__card" href="{{ .URL }}">
      <img class="footer__img" src="{{ .Post }}">
      <div class="footer__text">
        {{ .Pre }}
      </div>
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>

<div class="footer__stories footer__stories--mobile">
  <div class="footer__title">{{ .Params.footerCTA }}</div>

  <div class="footer__cards flex">
    {{ range $menu }}
    {{ if eq $.URL .URL }}
    <a class="footer__card active" href="{{ .URL }}">
      <div class="footer__text">
        {{ .Pre }}
      </div>
    </a>
    {{ else }}
    <a class="footer__card" href="{{ .URL }}">
      <div class="footer__text">
        {{ .Pre }}
      </div>
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>

<div class="footer__social">
  <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo-footer-black.png"
      alt="Uprooted footer logo" /></a>
  {{ partial "ybr-line.html" . }}
  <div class="footer__social-icons flex">
    <a href="https://facebook.com/uprootedunc" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/@uprootedunc" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com/uprootedunc" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer__about"><a href="{{ .Site.BaseURL }}{{ .Params.aboutUsURL }}">{{ .Params.aboutUs }}</a></div>
</div>