<div class="about-content">
  {{ with .Site.GetPage "/home-about" }}{{ .Content }}{{ end }}
</div>

<div class="about-help">
  {{ with .Site.GetPage "/home-help" }}{{ .Content }}
  <div class="about-orgs flex">
    <div class="orgs">
      <a href="https://www.instagram.com/famicovemedellin/" target="_blank">
        <img src="https://uprooted.unc.edu/images/famicove-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">FAMICOVE</div>
      </a>
    </div>
    <div class="orgs">
      <a href="https://allforvenezuela.com/" target="_blank">
        <img src="https://uprooted.unc.edu/images/allforvenezuela-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">All for Venezuela</div>
      </a>
    </div>
    <div class="orgs">
      <a href="https://www.raymasuprani.com/mas-is-more-foundation/" target="_blank">
        <img src="https://uprooted.unc.edu/images/masismore-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">Mas is More {{ .Params.foundation }}</div>
      </a>
    </div>
    <div class="orgs">
      <a href="https://primerosauxiliosucv.org/" target="_blank">
        <img src="https://uprooted.unc.edu/images/primerosauxiliosUCV-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">Primeros Auxilios UCV</div>
      </a>
    </div>
    <div class="orgs">
      <a href="https://www.ilovevenezuela.org/" target="_blank">
        <img src="https://uprooted.unc.edu/images/ilovevenezuela-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">I Love Venezuela {{ .Params.foundation }}</div>
      </a>
    </div>
    <div class="orgs">
      <a href="https://alimentalasolidaridad.com/" target="_blank">
        <img src="https://uprooted.unc.edu/images/alimenta-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">Alimenta la Solidaridad</div>
      </a>
    </div>
    <div class="orgs">
      <a href="https://www.classy.org/campaign/healing-venezuela/c216318" target="_blank">
        <img src="https://uprooted.unc.edu/images/healingvenezuela-logo.png" alt="All for Venezuela logo" />
        <div class="orgs__name">Healing Venezuela</div>
      </a>
    </div>
  </div>
</div>
{{ end }}

<footer>
  <div class="footer__social">
    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo-footer-black.png"
        alt="Uprooted footer logo" /></a>
    {{ partial "ybr-line.html" . }}
    <div class="footer__social-icons flex">
      <a href="https://facebook.com/uprootedunc" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/@uprootedunc" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/uprootedunc" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer__about">
      <a href="{{ .Site.BaseURL }}{{ .Params.aboutUsURL }}">{{ .Params.aboutUs }}</a>
    </div>
  </div>
</footer>