<div class="flex-column hero-image story-hero bg-cover bg-position-center">
  {{ if eq .layout "about" }}
  <img class="about__hero-img" src="{{.image}}" alt="A photo of the MEJO 584 team" />
  {{ else if eq .layout "photo-pages" }}
  <img class="photo__hero-img" src="{{.image}}" alt="{{.alt}}" />
  <div class="story-hero__topic">
    <p>{{ .topic }}</p>
    {{ partial "ybr-line.html" . }}
  </div>
  <div class="story-hero__heading">
    <h1 class="story-hero__title">{{ .heading }}</h1>
    <h3 class="story-hero__desc">{{ .subheading }}</h3>
  </div>
  {{ else }}
  <video class="story-video video-{{ .number }}" poster="{{ .videostill }}" muted>
    <!-- Video is embedded in the WEBM format -->
    <source src="{{ .background }}" type="video/mp4" />
  </video>
  <img class="story-hero__img" src="{{ .Site.BaseURL }}{{ .still }}" />
  <div class="story-hero__topic">
    <p>{{ .topic }}</p>
    {{ partial "ybr-line.html" . }}
  </div>
  <div class="story-hero__heading">
    <h1 class="story-hero__title">{{ .heading }}</h1>
    <h3 class="story-hero__desc">{{ .subheading }}</h3>
  </div>
  {{ end }}
</div>